@model IEnumerable<LaundryWebapp.DataSource.MasterItem>

@{
    ViewBag.Title = "Master Item";
}

<div class="text-center"><h2>@ViewBag.Title</h2></div>

<div class="col-lg-2">
    @Html.ActionLink("Buat Baru", "Create", null, new { @class = "btn btn-primary btn-user btn-block" })
</div>
<br /><br /><br />

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr role="row">
                    <th>
                        Kode Item
                    </th>
                    <th>
                        Nama Item
                    </th>
                    <th>
                        Deskripsi
                    </th>
                    <th>
                        Durasi /hari
                    </th>
                    <th>
                        Harga /kg
                    </th>
                    <th>
                        Menu Langganan
                    </th>
                    <th>Aksi</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Duration)
                        </td>
                        <td>
                            Rp @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsSubscribe)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </table>         
        </div>
    </div>
</div>
